=form_for @announcement do |f|

  .form-group
    = f.label :subject, 'Subject:', :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :subject, :class => 'form-control'
  %br
  %br
  .form-group
    = f.label :content, 'Content:', :class => 'control-label col-md-2'
    .col-md-10
      = f.text_area :content, :style=>"width:100%"
  %br
  %br
  %br

  .form-group
    .form-actions.col-md-offset-2.col-md-8
      = f.submit "Save", :class => 'btn btn-success'
      = link_to "Cancel", :back, :class => 'btn btn-danger'
