.container
  .row
    .box
      .container-fluid.main-container
        .col-md-2.sidebar
          %ul.nav.nav-pills.nav-stacked
            %li.active
              = link_to "Home", page_path(:home)
            %li
              = link_to "Products", products_path
            %li
              = link_to "Orders", carts_path
            %li
              = link_to "Reservations", reservations_path
            %li
              = link_to "Feedback", feedbacks_path
            %li
              = link_to "Users", users_path
        .col-lg-10
          .col-lg-2
          .col-lg-10
            %h4.text-center
              Create an Announcement
          .col-md-12
            =render "form"