.container
  .box
    .col-lg-30
      .portlet
        .portlet-title
          .col-md-12.col-xs-12
            %hr
            %h2.text-center Menu
            %hr
          .caption.caption-red
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#portlet_tab1"}
                Drinks
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab2"}
                Cakes
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab3"}
                Paninis
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab4"}
                Salads

        .portlet-body
          .tab-content
            #portlet_tab1.tab-pane.active
              .col-lg-15
                %h3.text-left
                  Drinks
              .row
                - @drinks.each do |drink| 
                  .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .menu-thumbnail
                      .avatar{:align => "center"}
                        = image_tag "drinks.jpg", :class=>"img img-responsive"
                      .mask1
                        .add-button
                          = add_product_link(drink)
                      .content
                        %p
                          = drink.name
                        = drink.description
                        %br
                        = "₱ #{format('%0.2f', drink.default_price)}"
                
            #portlet_tab2.tab-pane
              .col-lg-15
                %h3.text-left
                  Cakes
              .row
                - @cakes.each do |cake| 
                  .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .menu-thumbnail
                      .avatar{:align => "center"}
                        = image_tag "cakes.jpg", :class=>"img img-responsive"
                      .mask1
                        .add-button
                          = add_product_link(cake)
                      .content
                        %p
                          = cake.name
                        = cake.description
                        %br
                        = "₱ #{format('%0.2f', cake.default_price)}"

            #portlet_tab3.tab-pane
              .col-lg-15
                %h3.text-left
                  Paninis
              .row
                - @paninis.each do |panini|
                  .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .menu-thumbnail
                      .avatar{:align => "center"}
                        = image_tag "paninis.jpg", :class=>"img img-responsive"
                      .mask1
                        .add-button
                          = add_product_link(panini)
                      .content
                        %p
                          = panini.name
                        = panini.description
                        %br
                        = "₱ #{format('%0.2f', panini.default_price)}"


            #portlet_tab4.tab-pane
              .col-lg-15
                %h3.text-left
                  Salads
              .row
                - @salads.each do |salad|
                  .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .menu-thumbnail
                      .avatar{:align => "center"}
                        = image_tag "salads.jpg", :class=>"img img-responsive"
                      .mask1
                        .add-button
                          = add_product_link(salad)
                      .content
                        %p
                          = salad.name
                        = salad.description
                        %br
                        = "₱ #{format('%0.2f', salad.default_price)}"

- if @cart
  #shopping_cart
    =render :partial => "carts/cart"
