.container-fluid.main-container
  .col-md-3.sidebar
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to page_path(:home) do
          Home
          %span{:class=>"badge pull-right", :style=>"background-color:#269abc"}
            = announcements_count
      %li.active
        = link_to products_path do
          Products
          %span{:class=>"badge pull-right", :style=>"background-color:#FFFFFF"}
            = products_count
      %li
        = link_to carts_path do
          Orders
          %span{:class=>"badge pull-right", :style=>"background-color:#269abc"}
            = orders_count
      %li
        = link_to reservations_path do
          Reservation
          %span{:class=>"badge pull-right", :style=>"background-color:#269abc"}
            = reservations_count
      %li
        = link_to feedbacks_path do
          Feedbacks
          %span{:class=>"badge pull-right", :style=>"background-color:#269abc"}
            = feedbacks_count
      %li
        = link_to users_path do
          Users
          %span{:class=>"badge pull-right", :style=>"background-color:#269abc"}
            = users_count

  .col-md-9
    / BEGIN Portlet PORTLET
    .portlet
      .portlet-title
        .col-md-12.col-xs-12
          %h4 List of Products
          .text-right
            =link_to "Create a Product", new_product_path, :class=> "btn btn-md btn-primary"
        .caption.caption-red
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#portlet_tab1"}
              Drinks
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab2"}
              Cakes
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab3"}
              Paninis
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab4"}
              Salads

      .portlet-body
        .tab-content
          #portlet_tab1.tab-pane.active
            .col-lg-15
              %h4.text-left
                Drinks
            .row
              - @drinks.each do |drink| 
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to menu_thumbnail_photo(drink.classification), product_path(drink)
                    .content.text-center
                      %p
                        = drink.name
                      = drink.description
                      %br
                      = "₱ #{format('%0.2f', drink.default_price)}"
              
          #portlet_tab2.tab-pane
            .col-lg-15
              %h4.text-left
                Cakes
            .row
              - @cakes.each do |cake| 
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to menu_thumbnail_photo(cake.classification), product_path(cake)
                    .content.text-center
                      %p
                        = cake.name
                      = cake.description
                      %br
                      = "₱ #{format('%0.2f', cake.default_price)}"

          #portlet_tab3.tab-pane
            .col-lg-15
              %h4.text-left
                Paninis
            .row
              - @paninis.each do |panini|
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to menu_thumbnail_photo(panini.classification), product_path(panini)
                    .content.text-center
                      %p
                        = panini.name
                      = panini.description
                      %br
                      = "₱ #{format('%0.2f', panini.default_price)}"
                      
          #portlet_tab4.tab-pane
            .col-lg-15
              %h4.text-left
                Salads
            .row
              - @salads.each do |salad|
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to menu_thumbnail_photo(salad.classification), product_path(salad)
                    .content.text-center
                      %p
                        = salad.name
                      = salad.description
                      %br
                      = "₱ #{format('%0.2f', salad.default_price)}"
