.container-fluid.main-container
  .col-md-2.sidebar
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to "Home", page_path(:home)
      %li.active
        = link_to "Products", products_path
      %li
        = link_to "Orders", carts_path
      %li
        = link_to "Reservations", reservations_path
      %li
        = link_to "Feedback", feedbacks_path
      %li
        = link_to "Users", users_path
  .col-md-10
    / BEGIN Portlet PORTLET
    .portlet
      .portlet-title
        .col-md-12.col-xs-12
          %h4 List of Products
        .caption.caption-red
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#portlet_tab1"}
              Drinks
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab2"}
              Cakes
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab3"}
              Paninis
          %li
            %a{"data-toggle" => "tab", :href => "#portlet_tab4"}
              Salads

      .portlet-body
        .tab-content
          #portlet_tab1.tab-pane.active
            .col-lg-15
              %h4.text-left
                Drinks
            .row
              - @drinks.each do |drink| 
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to (image_tag "drinks.jpg", :class=>"img img-responsive"), product_path(drink)
                    .content.text-center
                      %p
                        = drink.name
                      = drink.description
                      %br
                      = "₱ #{format('%0.2f', drink.default_price)}"
              
          #portlet_tab2.tab-pane
            .col-lg-15
              %h4.text-left
                Cakes
            .row
              - @cakes.each do |cake| 
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to (image_tag "cakes.jpg", :class=>"img img-responsive"), product_path(cake)
                    .content.text-center
                      %p
                        = cake.name
                      = cake.description
                      %br
                      = "₱ #{format('%0.2f', cake.default_price)}"

          #portlet_tab3.tab-pane
            .col-lg-15
              %h4.text-left
                Paninis
            .row
              - @paninis.each do |panini|
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to (image_tag "paninis.jpg", :class=>"img img-responsive"), product_path(panini)
                    .content.text-center
                      %p
                        = panini.name
                      = panini.description
                      %br
                      = "₱ #{format('%0.2f', panini.default_price)}"
                      
          #portlet_tab4.tab-pane
            .col-lg-15
              %h4.text-left
                Salads
            .row
              - @salads.each do |salad|
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                  .menu-thumbnail
                    / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    .avatar{:align => "center"}
                      = link_to (image_tag "salads.jpg", :class=>"img img-responsive"), product_path(salad)
                    .content.text-center
                      %p
                        = salad.name
                      = salad.description
                      %br
                      = "₱ #{format('%0.2f', salad.default_price)}"
