.container
  .box
    .container-fluid.main-container
      .col-md-2.sidebar
        %ul.nav.nav-pills.nav-stacked
          %li
            = link_to "Home", page_path(:home)
          %li
            = link_to "Products", products_path
          %li
            = link_to "Orders", carts_path
          %li
            = link_to "Reservations", reservations_path
          %li
            = link_to "Feedback", feedbacks_path
          %li.active
            = link_to "Users", users_path
            
      .col-md-10
        .col-md-15
          %h4 List of Users
          .table-responsive
            %table#mytable.table.table-bordred.table-striped
              %thead
                %th User ID
                %th Customer Name
                %th Email
                %th Points
                %th Delete
              %tbody
                - @users.each do |user|
                  %tr
                    %td= user.id
                    %td= link_to "#{user.first_name} #{user.last_name}", user_path(user)
                    %td= user.email
                    %td= "#{format('%0.2f',user.points)}"
                    %td= link_to "Delete", registration_path(user), :method=>:delete, :date=>{:confirm=>"Are you sure?"}, :class=>"button btn btn-danger btn-xs"
