.container
  .row
    .panel.panel-info
      .panel-body
        .row
          .col-md-3.col-lg-3{:align => "center"}
            = image_tag "user.png", :class => "img img-responsive"
            
            = link_to "View my orders", carts_path
            %br
            = link_to "View my reservations", reservations_path
            %br
            = link_to "View my feedbacks", feedbacks_path
            %br
            = "POINTS = #{format('%0.2f', @user.points)}" 

          .col-md-9.col-lg-9
            %table.table.table-user-information
              %tbody
                %tr
                  %td Name:
                  %td= "#{@user.first_name} #{@user.last_name}"
                %tr
                  %tr
                    %td Gender
                    %td= @user.gender
                  %tr
                    %td Location
                    %td= @user.location
                  %tr
                    %td Birthday
                    %td
                      -if !@user.birthday.nil?
                        = "#{month_number_to_word(@user.birthday.month.to_i)} #{@user.birthday.day}, #{@user.birthday.year}"
                      -else
                        = "n/a"
                  %tr
                    %td Email
                    %td= @user.email
                  %tr
                    %td Cellphone Number
                    %td= @user.contact_number
                  %tr
                    %td Bio
                    %td= @user.bio
            = link_to "Edit Profile", edit_user_registration_path, :class=>"btn btn-success"
            = link_to "Back", :back, :class=>"btn btn-primary"
      .panel-footer
        /
          <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>