.container
  .box
    .col-lg-30
      / BEGIN Portlet PORTLET
      .portlet
        .portlet-title
          .caption.caption-red
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#portlet_tab1"}
                Drinks
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab2"}
                Cakes
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab3"}
                Paninis
            %li
              %a{"data-toggle" => "tab", :href => "#portlet_tab4"}
                Salads
          .pull-right
            %h3
              =link_to "Create an ORDER", new_order_path, :class => "btn btn-lg"

        .portlet-body
          .tab-content
            #portlet_tab1.tab-pane.active
              .col-lg-15
                %h2.text-left
                  Drinks
              .row
                - @drinks.each do |drink| 
                  .col-sm-3
                    .card
                      / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      .avatar
                        %img{:alt => "", :src => ""}/
                      .content
                        %p
                          = drink.name
                          %br
                            = drink.description
                
            #portlet_tab2.tab-pane
              .col-lg-15
                %h2.text-left
                  Cakes
              .row
                - @cakes.each do |cake| 
                  .col-sm-3
                    .card
                      / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      .avatar
                        %img{:alt => "", :src => ""}/
                      .content
                        %p
                          = cake.name
                          %br
                            = cake.description
                        
            #portlet_tab3.tab-pane
              .col-lg-15
                %h2.text-left
                  Paninis
              .row
                - @paninis.each do |panini|
                  .col-sm-3
                    .card
                      / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      .avatar
                        %img{:alt => "", :src => ""}/
                      .content
                        %p
                          = panini.name
                          %br
                            = panini.description
                        
            #portlet_tab4.tab-pane
              .col-lg-15
                %h2.text-left
                  Salads
              .row
                - @salads.each do |salad|
                  .col-sm-3
                    .card
                      / <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                      .avatar
                        %img{:alt => "", :src => ""}/
                      .content
                        %p
                          = salad.name
                          %br
                            = salad.description
                        