.container-fluid.main-container
  .col-md-2.sidebar
    %ul.nav.nav-pills.nav-stacked
      %li.active
        = link_to "Home", page_path(:home)
      %li
        = link_to "Products", products_path
      %li
        = link_to "Orders", carts_path
      %li
        = link_to "Reservations", reservations_path
      %li
        = link_to "Feedback", feedbacks_path
               
  .col-md-10
    .col-md-12
      %h4 List of Announcements
      .pull-right
        =link_to "Create an Announcement", new_announcement_path, :class=> "btn btn-md btn-primary btn-block"
    .col-md-12
      .table-responsive
        %table#mytable.table.table-bordred.table-striped
          %thead
            %th Announcement ID
            %th Date Posted
            %th Subject
            %th Content
            %th Edit
            %th Delete
          %tbody
            -if announcements.empty?
              %tr
                %td.text-center{:colspan=>"8"}= "There are no announcements."
            -else

              - announcements.each do |announcement|
                %tr
                  %td= announcement.id
                  %td
                    -if !announcement.date_posted.nil?
                      = "#{month_number_to_word(announcement.date_posted.month.to_i)} #{announcement.date_posted.day}, #{announcement.date_posted.year}"
                    -else
                      = "n/a"
                  %td= announcement.subject
                  %td= announcement.content
                  %td
                    %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Edit"}
                      = link_to "Edit", edit_announcement_path(announcement), :class=>"btn btn-primary btn-xs"
                  %td
                    %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete"}
                      = link_to "Delete", announcement_path(announcement), :method=> :delete, :data=>{:confirm=>"Are you sure?"},  :class=>"btn btn-danger btn-xs"