= form_for @reservation do |f|
  %hr.colograph
    .row
      .col-xs-12.col-sm-12.col-md-12
        .form-group
          = f.number_field :table_number, :in=>1..20, :class=>"form-control input-lg", :tabindex=>"1", :placeholder=>"Table Number"
         
      .col-xs-12.col-sm-6.col-md-12
        .form-group
          = f.number_field :number_of_people, :in=>1..20, :class=>"form-control input-lg", :tabindex=>"2", :placeholder=>"Number of People"
    
      .col-xs-12.col-sm-12.col-md-12
        .form-group
          = f.date_select :date, :class=>"form-control input-lg", :tabindex=>"3", :placeholder=>"Date", :type=>"date"
         
      .col-xs-12.col-sm-12.col-md-12
        .form-group
          = f.time_select :time, :class => 'form-control input-lg', :tabindex=>"4"

    %hr.colorgraph
      .row
        .col-md-6
          = f.submit :class=> "btn btn-success btn-block btn-lg"
        .col-md-6
          = link_to "Back", :back, :class=>"btn btn-primary btn-block btn-lg"
