.container
	.box
		- if admin?
			=render :partial=>'admin/reservations', :locals=>{:reservations => @reservations}
		-else
			.row
				.col-md-12
					%hr
					%h2.text-center
						%strong My Reservations
					%hr
					%table.table.table-striped.custab
						%thead
							%tr
								%th Date
								%th Time
								%th Table Number
								%th Number of Seats
							- @reservations.each do |reservation|
								%tr
									%td= "#{month_number_to_word(reservation.date.month.to_i)} #{reservation.date.day}, #{reservation.date.year}"
									%td= "#{reservation.time.hour}:#{format('%02d', reservation.time.min)}"
									%td= reservation.table_number
									%td= reservation.number_of_people
				.col-md-12.pull-right
					= link_to "Create Reservations", new_reservation_path, :class=>"btn btn-success btn-md"
					= link_to "Back", :back, :class=>"btn btn-primary btn-md"
						