.container
	.box
		- if admin?
			=render :partial=>'admin/reservations', :locals=>{:reservations => @reservations}
		-else
			.row
				.col-md-12
					%hr
					%h2.text-center
						%strong My Reservations
					%hr
					%table.table.table-striped.custab
						%thead
							%tr
								%th Request Date
								%th Date to be Reserved
								%th Table Number
								%th Number of Seats
							- @reservations.each do |reservation|
								%tr
									%td
										-if !reservation.date_reserved.nil?
											= "#{reservation.date_reserved.month.to_i}/#{reservation.date_reserved.day}/#{reservation.date_reserved.year}"
										-else
											= "n/a"
										%br
										-if !reservation.time.nil?
											= "#{reservation.date_reserved.hour}:#{format('%02d', reservation.date_reserved.min)}"
										-else
											= "n/a"
									%td
										-if !reservation.date.nil?
											= "#{reservation.date.month.to_i}/#{reservation.date.day}/#{reservation.date.year}"
										-else
											= "n/a"
										%br
										-if !reservation.time.nil?
											= "#{reservation.time.hour}:#{format('%02d', reservation.time.min)}"
										-else
											= "n/a"
									%td= reservation.table_number
									%td= reservation.number_of_people
				.col-md-12
					.pull-right
						= link_to "Create Reservations", new_reservation_path, :class=>"btn btn-success btn-md"
						= link_to "Back", :back, :class=>"btn btn-primary btn-md"
							