.table-responsive
  %table#mytable.table.table-bordred.table-striped
    %thead
      %th Order ID
      %th Customer Name
      %th Order
      %th Total Price
      %th Mark as Served
      %th Delete
    %tbody
      - carts.each do |cart|
        %tr
          %td= cart.id
          %td= display_cart_owner(cart)
          %td
            -cart.cart_items.each do |cart_item|
              = "#{cart_item.name} x #{cart_item.quantity}"
              %br
          %td= "₱ #{format('%0.2f', cart.total)}"
          / %td
          /   %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Edit"}
          /   = link_to "Edit", edit_cart_path(cart), :class=>"button btn btn-primary btn-xs"
          %td
            = link_to "Mark as Served", cart_path(cart, :cart => {:served => 1}),  :method => :put, :class=>"btn btn-success btn-xs"
          %td
            = delete_order_link(cart)
