.table-responsive
  %table#mytable.table.table-bordred.table-striped
    %thead
      %th Order ID
      %th Table Number
      %th Customer Name
      %th Order
      %th Total Price
      %th Edit
      %th Delete
    %tbody
      - carts.each do |cart|
        %tr
          %td= cart.id
          %td= "cart.table"
          %td= display_cart_owner(cart)
          %td
            -cart.cart_items.each do |cart_item|
              %br= "#{cart_item.name} x #{cart_item.quantity}"
          %td= "₱ #{cart.total}"
          / %td
          /   %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Edit"}
          /   = link_to "Edit", edit_cart_path(cart), :class=>"button btn btn-primary btn-xs"
          %td
            %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete"}
            = delete_order_link(cart)
              
                
    /         .clearfix
    /         %ul.pagination.pull-right
    /           %li.disabled
    /             %a{:href => "#"}
    /               %span.glyphicon.glyphicon-chevron-left
    /           %li.active
    /             %a{:href => "#"} 1
    /           %li
    /             %a{:href => "#"} 2
    /           %li
    /             %a{:href => "#"} 3
    /           %li
    /             %a{:href => "#"} 4
    /           %li
    /             %a{:href => "#"} 5
    /           %li
    /             %a{:href => "#"}
    /               %span.glyphicon.glyphicon-chevron-right
    / #edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit", :role => "dialog", :tabindex => "-1"}
    /   .modal-dialog
    /     .modal-content
    /       .modal-header
    /         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
    /           %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
    /         %h4#Heading.modal-title.custom_align Edit Order
    /       .modal-body
    /         .form-group
    /           Table Number
    /           %input.form-control{:max => "20", :min => "1", :name => "Table Number", :type => "number"}
    /         .form-group
    /           Order
    /           %textarea.form-control{:placeholder => "Place New Order", :rows => "2"}
    /       .modal-footer
    /         %button.btn.btn-warning.btn-lg{:style => "width: 100%;", :type => "button"}
    /           %span.glyphicon.glyphicon-ok-sign>
    /            Update
    /     / /.modal-content
    /   / /.modal-dialog
    / #delete.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit", :role => "dialog", :tabindex => "-1"}
    /   .modal-dialog
    /     .modal-content
    /       .modal-header
    /         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
    /           %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
    /         %h4#Heading.modal-title.custom_align Delete Order
    /       .modal-body
    /         .alert.alert-danger
    /           %span.glyphicon.glyphicon-warning-sign
    /           Are you sure you want to delete the order?
    /       .modal-footer
    /         %button.btn.btn-success{:type => "button"}
    /           %span.glyphicon.glyphicon-ok-sign>
    /            Yes
    /         %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
    /           %span.glyphicon.glyphicon-remove>
    /            No
    /     / /.modal-content
    /   / /.modal-dialog            }
