.container
  .box  
    - if admin?
      = render :partial=> "orders", :locals=> {:carts => @carts}
    - else
      .row
        .col-md-12
          %hr
          %h2.text-center
            My Orders
          %hr
          %table.table.table-striped.custab
            %thead
              %tr
                %th Date
                %th Time
                %th Items
                %th Status
                %th Total Price
                %th
              - @carts.each do |cart|
                -if cart.finalized
                  %tr
                    %td= "#{month_number_to_word(cart.time_ordered.month.to_i)} #{cart.time_ordered.day}, #{cart.time_ordered.year}"
                    %td= "#{cart.time_ordered.hour}:#{format('%2d', cart.time_ordered.min)}"
                    %td
                      -cart.cart_items.each do |cart_item|
                        = "#{cart_item.name} x #{cart_item.quantity}"
                        %br
                    %td
                      - if cart.served
                        = "Served"
                      - else
                        = "On queue"
                    %td= "₱ #{format('%0.2f', cart.total)}"
                    %td
                      - if cart.served
                        = link_to "Delete", cart_path(cart), :method=>:delete, :data=>{:confirm=>"Are you sure?"}, :class=>"btn btn-danger btn-md"
        .col-md-12
          .pull-right
            = link_to "Order Now", menus_path, :class=>"btn btn-success btn-md"
            = link_to "Back", :back, :class=>"btn btn-primary btn-md"
                