=form_for @product do |f|
  %br
  %h4.text-center Product Information
  %hr
  .col-md-12
    .col-md-4
      %strong Name
    .col-md-8
      = f.text_field :name
  .col-md-12
    .col-md-4
      %strong Classification
    .col-md-8
      -if @product.classification.nil?
        = f.select :classification, options_for_select(["Drink","Cake", "Salad", "Panini"], "Drink")
      -else
        = f.select :classification, options_for_select(["Drink","Cake", "Salad", "Panini"], "#{@product.classification}")

  .col-md-12
    .col-md-4
      %strong Description
    .col-md-8
      = f.text_field :description
  .col-md-12
    .col-md-4
      %strong Price
    .col-md-8
      = f.text_field :default_price, :type=>"number"
    %br
    %hr
  .form-actions.col-md-offset-4.col-md-8.col-xs-12
    =f.submit :class=>"btn btn-success"
    =link_to "Back", :back, :class=>"btn btn-primary"
 