.container
  .box 
    .container-fluid
      .content-wrapper
        .item-container
          .container
            .col-md-15
              .product.col-md-3.service-image-left
                %center
                  = image_tag ("#{@product.classification}s.jpg"), :class=>"img img-responsive"
                  
            .col-md-7
              =form_for @product do |f|
                %h4 Product Information
                %hr
                %table
                  %tr.product-title
                    %td Name: 
                    %td
                      = f.text_field :name
                  %tr.product-desc
                    %td Decription: 
                    %td
                      = f.text_field :description
                  %tr.product-price
                    %td Price:
                    %td
                      = f.text_field :default_price, :type=>"number"
                %hr
                  .btn-group.cart
                    =f.submit :class=>"btn btn-success"
                  .btn-group.wishlist  
                    =link_to "Back", :back, :class=>"btn btn-primary"
                 